<digi-layout-block [attr.af-variation]="layoutBlockVariation.PRIMARY">
  <digi-typography>
    <h1>Hejsan Angular 16</h1>
    <p>
      simply dummy text of the printing and typesetting industry. Lorem Ipsum
      has been the industry's standard dummy text ever since the 1500s, when an
      unknown printer took a galley of type and scrambled it to make a type
      specimen book. It has survived not only five centuries, but also the leap
      into electronic typesetting, remaining essentially unchanged. It was
      popularised in the 1960s with the release of Letraset sheets containing
      Lorem Ipsum passages, and more recently with desktop publishing software
      like Aldus PageMaker including versions of Lorem Ipsum.
    </p>
    <digi-notification-alert
      af-size="large"
      af-variation="info"
      af-heading="Informationsmeddelande"
    >
      Meddelandebeskrivning
    </digi-notification-alert>
    <h2>Det här är en pnpm runrimär blockvariant</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam magna
      neque, interdum vel massa eget, condimentum rutrum velit. Sed vitae
      ullamcorper sem. Aliquam malesuada nunc sed purus mollis scelerisque.
      Curabitur bibendum leo quis ante porttitor tincidunt. Nam tincidunt
      imperdiet tortor eu suscipit. Maecenas ut dui est.
    </p>
  </digi-typography>
</digi-layout-block>
